mnist/__pycache__/
.idea/
slim/
mnist/mnist-data/
mnist/model/
*.sublime-*
*.mp4
mnist/synthesis/
1d/backup/
collections/checkpoint/
collections/data/
collections/logs/
saliency/__pycache__/
collections/__pycache__/
visualization/mnist/mlengine/trainer/__pycache__/
visualization/mnist/data/
visualization/mnist/__pycache__/
visualization/cifar10/data_set/
visualization/cifar10/include/__pycache__/
visualization/cifar10/tensorboard/
2D/__pycache__/
2D/dataset.npz
2D/fullset.csv
2D/dataset.csv
2D/ckpt/
2D/figs/
sampling/ckpt/
sampling/__pycache__/
*.orig
manuscript/main.synctex.gz
manuscript/main.aux
manuscript/main.pdf
manuscript/main.out
manuscript/main.blg
manuscript/main.bbl
sampling/figs/
manuscript/algo*
image/*.pdf
image/tmp/
image/data/
image/checkpoints/
image/dc_checkpoints/
image/dc_samples/
image/figs/
image/*.gz
image/indi_figs/
image/model/
image/samples/
image/scores/
manuscript/figures/
mnist/*.png
*.tmp
manuscript/results/
image/__pycache__/
