mnist/__pycache__/
.idea/
slim/
mnist/mnist-data/
mnist/model/
*.sublime-*
*.mp4
mnist/synthesis/
1d/backup/
*.png
collections/checkpoint/
collections/data/
collections/logs/
saliency/__pycache__/
collections/__pycache__/
visualization/mnist/mlengine/trainer/__pycache__/
visualization/mnist/data/
visualization/mnist/__pycache__/
visualization/cifar10/data_set/
visualization/cifar10/include/__pycache__/
visualization/cifar10/tensorboard/
2DGaussians/__pycache__/
2DGaussians/dataset.npz
2DGaussians/fullset.csv
2DGaussians/dataset.csv
2DGaussians/ckpt/
2DGaussians/figs/
teacher/ckpt/
teacher/__pycache__/
*.orig
manuscript/main.synctex.gz
manuscript/main.aux
manuscript/main.pdf
manuscript/main.out
manuscript/main.blg
manuscript/main.bbl
teacher/figs/
manuscript/algo*
dcgan/DCGAN-tensorflow-master/*.pdf
dcgan/tmp/
dcgan/copy_folder/
manuscript/figures/
